
   <!DOCTYPE html>
   <html lang="en">
   <head>   
      
      <link rel="stylesheet" href="css/layouts/footer.css">

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
   </head>
   <body>


<!-- FOOTER -->

<footer class="footer">
   <div class="footer-content">
      <div class="footer-brand">
         <div class="footer-logo">
            <i class="fa-solid fa-trophy"></i>
            <h3>SGDM</h3>
         </div>

         <p>Plataforma de gestión de torneos deportivos,
            mentales y eSports.</p>
      </div>
      <div class="footer-links">

         <h4>Navegación</h4>

         <a href="#">Inicio</a>
         <a href="#">Torneos</a>
         <a href="#">Rankings</a>
         <a href="#contacto">Contacto</a>

      </div>
      <div class="footer-links">

         <h4>Torneos</h4>

         <a href="#">Liga</a>
         <a href="#">Eliminación Directa</a>
         <a href="#">Sistema Suizo</a>
      </div>
      <div class="footer-links">

         <h4>Seguinos</h4>

         <div class="footer-social">
            <a href="#">
               <i class="fab fa-discord"></i>
            </a>
            <a href="#">
               <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
               <i class="fab fa-x-twitter"></i>
            </a>
         </div>
      </div>
   </div>
   <div class="footer-bottom">

      <p> © 2026 SGDM - Sistema de Gestión Deportiva Modular.</p>
      <p> Proyecto de egreso BT Tecnologías de la Información.</p>

   </div>

</footer>


</body>
</html>